.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.emailRow:hover {
  border-top: 1px solid white;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}
.emailRow__option {
  display: flex;
}
.emailRow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
}
.emailRow__message h4 {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.emailRow__title {
  flex: 0.3;
  font-size: 14px;
}
.emailRow__time {
  padding-right: 15px;
  font-size: 12px;
  font-weight: bold;
}
.emailRow__description {
  font-weight: 400;
  color: gray;
}
