.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  margin-top: 10px;
  padding-bottom: 10px;
}
.header__left img {
  object-fit: contain;
  height: 60px;
  margin-left: 5px;
}
.header__left {
  display: flex;
  align-items: center;
}

.header__middle {
  display: flex;
  align-items: center;
  flex: 0.7;
  background-color: #0099ff31;
  padding: 10px;
  border-radius: 8px;
}
.search {
  color: grey;
}
.header__middle input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}
.header__middle:active,
.header__middle:hover {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.header__right {
  display: flex;
  margin-right: 20px;
}
.logout p {
  cursor: pointer;
  text-decoration: solid;
}
