.section {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom-width: 0px;
  color: grey;
  min-width: 200px;
  padding: 15px;
  border: 0;
  cursor: pointer;
}
.section--selected {
  background-color: whitesmoke;
  border-width: 10px;
}
.section:hover {
  background-color: whitesmoke;
  border-width: 3px;
}
.section h4 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 15px;
}
