body {
  position: relative;
}
.sendMail {
  position: absolute;
  bottom: 0px;
  right: 80px;
  background-color: white;
  width: 50%;
  max-width: 400px;
  height: 60%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;

  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.2);
}
.sendMail__header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2989c911;
}
.sendMail__header h3 {
  font-size: 16px;
  font-weight: 400;
}
.iconRight {
  display: flex;
  align-items: center;
}
.sendMail__send {
  background-color: rgb(40, 40, 248);
  padding: 5px 6px;
  text-transform: capitalize;
  margin: 15px;
  border: none;
  display: flex;
  align-items: center;
  outline: none;
  color: white;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.sendMail__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sendMail__option1 {
  display: flex;
}
.sendMail__options .drop {
  border-radius: 0;
  color: white;
  border: none;
}
.sendMail form {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sendMail form input {
  height: 30px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
}
.sendMail__message {
  flex: 1;
}
