.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #818181;
}
.sidebarOption .MuiSvgIcon-root {
  padding: 5px;
}
.sidebarOption p {
  display: none;
  font-weight: 300;
}
.sidebarOption h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
}
.sidebarOption:hover p {
  display: inline;
}
.sidebarOption:hover,
.sidebarOption:hover p,
.sidebarOption:hover h3 {
  background-color: whitesmoke;

  transition: all 0.01s ease-in-out;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.sidebar--active p,
.sidebar--active h3 {
  display: inline;
  font-weight: 600;
}
.active {
  color: rgb(0, 132, 255);

  background-color: lightblue;
}
