.sidebar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}
.sidebar__compose {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: flex;
  font-size: 16px;
  align-items: center;
  text-transform: capitalize;
  color: black;
  padding: 20px;
  font-weight: 200;

  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #0099ff31;

  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.sidebar__compose:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.cricon {
  margin-right: 15px;
}
.sidebar__footer {
  display: none;
}
